{% extends 'base.html' %}
{%load static%}

{% block body_block%}

<link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">

<h1> Router Information Dashboard </h1>
<a href="{%url 'insert' %}"> Insert Record page</a>
<br><br>

<table border =2 text-align='center' class='contaier' align="center">
	<thead>
		<th>SAP ID</th>
		<th>Hostname</th>
		<th>Loopback</th>
		<th>MAC Address</th>
		<th>Operation</th>

	</thead>
	{% for i in form %}
	<tr>
		<td>{{i.sapid}}</td>
		<td>{{i.hostname}}</td>
		<td>{{i.loopback}}</td>
		<td>{{i.macaddress}}</td>
		<td>
		<a href="/update/{{i.id}}">update</a> 
		<a href="/delete/{{i.id}}"> delete </a></td>
	</tr>
	{%endfor%}


</table>


	{% endblock %}