{% extends 'base.html' %}
{%load static %}

{% block body_block%}
<link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
	


	<h1> Router update form </h1>
	<form method="POST">
		{% csrf_token %}
	
	
	Enter your Name :<input type="text" name="ename" value="{{router.sapid}}"><br>
	Enter your Eno<input type="text" name="eno" value="{{router.hostname}}"><br>
	Enter your salary<input type="text" name="esal" value="{{router.loopback}}"><br>
	Enter your address<input type="text" name="eadd" value="{{router.macaddress}}"><br>
	<br><br>
	<input type="submit" name="" value="Submit data">


</form>

{% endblock %}